body {
  background-color: #eef2f5;
}

.pageContainer {
  min-height: 70vh;
}

.recipe-input {
  max-width: 350px;
}

.custom-card {
  width: 100%;
  max-width: 300px;
  transition: 0.3s;
}

.custom-card:hover {
  transform: scale(1.03);
  box-shadow: 0px 6px 18px rgba(0,0,0,0.2);
}

h2 {
  color: #333;
}
